<div class="top">
	<a href="/" id="logo_btn"><img src="/images/pokeball.png" id="logo"></a>
	<a href="https://pokeapi.co/" id="cart"  class="right"><img src="/images/pokeapi_256.png" alt="Image from pokeapi.co" class="icon"></img></a>
</div>

<div class="topnav">
	<a href="https://github.com/AnthonyNocom/POKEDEX/tree/main" target="_blank"id="discordLink">GitHub</a>
    <a href="/" id="pokemonList">Home</a>
	<div class="searchContainer">
		<input id="pokemonSearchName" type="text" class="searchBox" placeholder="Pokemon Name">
		<button class="searchButton" id="search">Search</button>
	</div>
</div>