<div class="pokemonCard">
    <a href="/pokemonList/{{name}}">
        <div>
            <img src=
            "https://assets.pokemon.com/assets/cms2/img/pokedex/full/{{#padID id}}{{/padID}}.png"
                alt="{{name}}" />
        </div>
        <div class="pokemonName" id="pokemonName">
            <h1>{{#capitalizeFirstLetter name}}{{/capitalizeFirstLetter}}</h1>
        </div>
        <div class="pokemonInfo">
            <p>ID: {{#padID id}}{{/padID}}</p>
        </div>
    </a>
</div>