<html>
<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
<head>
     <title>National Pokedex</title>
	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
     <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
     <script src="scripts/pokemon.js"></script>
	<link rel="stylesheet" href="/css/style.css">
</head>

<body>
    {{>nav}}
    <div id="bodyContainer">
        POKEMON
        <div class="selection">
            <form method="get" action="/" id="sortbyForm">
                SORT BY
                <select name="sortby" id="productsortby">
                    <option value="id">ID</options>
                    <option value="pokemonName">Name</option>
                </select>                
            </form>
        </div>
        <div class="pokemonList" id="pokemonList">
            <ul id="pokedex"></ul>
            <button class="loadMoreButton" id="loadMore">Load more</button>
        </div>
    </div>
</body>
</html>